body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.menu {
    width: 200px;
    background-color: #333;
    padding: 20px;
    color: white;
}

.menu-item {
    margin-bottom: 10px;
    cursor: pointer;
}

.sub-menu {
    display: none;  
}

.menu-item:hover {
    color: pink;
}

.menu-item:hover .sub-menu {
    position: absolute;
    left: 240px;
    color: black;
    background-color: pink;
    display: inline-block;
}

.sub-menu-item {
    margin-bottom: 5px;
}