* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-title {
    font-size: 3.2em;
    line-height: 1.1;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    border: 2px solid firebrick;
}